.result-view {
	padding-top: 20px;
	
	.date-range {
		overflow-x: scroll;
	}

	.nav-tabs {
		display: flex;

		li {
			display: flex;
			flex: 1;

			a {
				flex: 1;
			}
		}
	}

	.result-table {
		width: 100%;

		thead {
			display: none;
		}

		tr {
			cursor: pointer;
		}

		td {
			display: block;

			&:first-child {
				border-top-width: 0;
			}

			&:last-child {
				border-bottom: 1px solid;
				padding-bottom: 15px;
			}
		}

		.column-header-responsive {
			font-weight: bold;
		}

		@include breakpoint(tablet) {
			thead {
				display: table-header-group;
			}

			td {
				display: table-cell;

				&:first-child {
					border-top-width: 1px;
				}

				&:last-child {
					border-bottom: 1px solid #ddd;
					padding-bottom: 8px;
				}
			}
			.column-header-responsive {
				display: none;
			}
		}
	}

	.airline-logo {
		width: 120px;
	}

	.result-filter {
		padding: 10px 0;
	}
}