<div class="filter">
	<h4>Filter flights</h4>
	<form class="form-inline">
		<div class="form-group">
			<label for="filterResultAirline" class="control-label">Airline</label>
			<select id="filterResultAirline" name="airline" class="form-control filter-airline" required="">
				<option value="all" selected="">All</option>
				{{#each airlines}}
				<option value="{{code}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="filterResultSort" class="control-label">Sort</label>
			<select id="filterResultSort" name="sort" class="form-control sort-result">
				<option value="price-asc" selected="">Price (lowest first)</option>
				<option value="price-desc">Price (highest first)</option>
				<option value="time-asc">Time (earliest first)</option>
				<option value="time-desc">Time (latest first)</option>
			</select>
		</div>
	</form>
</div>